<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to
  improve your experience.</p>
<![endif]-->

<div id="fade" style="display: none;">
  <canvas id="bgcanvas"></canvas>

  <div class="wrapper">
    <div class="left">
      <div class="avatar"></div>
    </div>
    <div class="right">
      <h1>Hello, I am Vyron!</h1>

      <p>I am a Java developer at <a title="Gelo Javonitalla at Cormant" href="http://www.cormanttech.com/" target="_blank">Cormant Technologies</a>. I <a
          href="https://gelojavonitalla.github.io" target="_blank">write</a> Open-source software on my spare
        time.</p>
      <ul class="social">
        <li>
          <a title="Gelo Javonitalla on Github" href="https://gelojavonitalla.github.io" target="_blank">
            <i class="icon-github"></i>
          </a>
        </li>
        <li>
          <a title="Gelo Javonitalla on LinkedIn" href="https://www.linkedin.com/in/gelojavonitalla" target="_blank">
            <i class="icon-linkedin"></i>
          </a>
        </li>
        <li>
          <a title="Gelo Javonitalla on Twitter" href="https://twitter.com/gelojavonitalla" target="_blank">
            <i class="icon-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mountains">
    <div class="range"></div>
    <div class="base"></div>
  </div>

  <footer>
    <div class="contents">
			<span>&copy; 2014 <a href="http://carlo.io" target="_blank">Carlo Eugster</a>. Licensed under
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons</a>.</span>
    </div>
  </footer>

</div>
