<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="fade" style="display: none;">
    <canvas id="bgcanvas"></canvas>

    <div class="wrapper">
        <div class="left">
            <div class="avatar"></div>
        </div>
        <div class="right">
            <h1>Hello, I am Gelo!</h1>
            <p>I am a Java and NodeJs <a alt="Gelo Javonitalla on Github" href="https://github.com/gelojavonitalla">developer</a> at <a alt="Gelo Javonitalla on Github" href="https://github.com/gelojavonitalla">Cormant Technologies</a> currently based in Manila.</p>
            <ul class="social">
                <li>
                    <a alt="Gelo Javonitalla on Github" href="http://github.com/gelojavonitalla/">
                        <i class="icon-github"></i>
                    </a>
                </li>
                <li>
                    <a alt="Gelo Javonitalla on LinkedIn" href="http://www.linkedin.com/in/gelojavonitalla/">
                        <i class="icon-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a alt="Gelo Javonitalla on Twitter" href="https://twitter.com/gelojavonitalla">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="mountains">
        <div class="range"></div>
        <div class="base"></div>
    </div>

    <footer>
        <div class="contents">
            <span>&copy; 2014 <a href="http://carlo.io">Carlo Eugster</a>. Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons</a>.</span>
        </div>
    </footer>

</div>