<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to
  improve your experience.</p>
<![endif]-->

<div id="fade" style="display: none;">
  <canvas id="bgcanvas"></canvas>

  <div class="wrapper">
    <div class="left">
      <div class="avatar"></div>
    </div>
    <div class="right">
      <h1>Hello, I am Vyron!</h1>

      <p>Software Engineer | Designer | Dreamer | Aspiring Entreprenuer | Love God Above All Things | Optimist  </p>
      <ul class="social">
        <li>
          <a title="Vyron Arediano on Twitter" href="https://twitter.com/vywonawedianow" target="_blank">
            <i class="icon-twitter"></i>
          </a>
        </li>
		<li>
          <a title="Vyron Arediano on LinkedIn" href="https://ph.linkedin.com/in/vyron-arediano-0b103953" target="_blank">
            <i class="icon-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mountains">
    <div class="range"></div>
    <div class="base"></div>
  </div>

  <footer>
    <div class="contents">
			<h2>Currently under construction but we are working hard to create a new and fresh design.</h2>
			<span>&copy; 2014 Carlo Eugster. Licensed under
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons</a>.</span>
    </div>
  </footer>

</div>
