<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to
  improve your experience.</p>
<![endif]-->

<div id="fade" style="display: none;">
  <canvas id="bgcanvas"></canvas>

  <div class="wrapper">
    <div class="left">
      <div class="avatar"></div>
    </div>
    <div class="right">
      <h1>Hello, I am Vyron!</h1>

      <p>Co-Founder of Xhape Solutions | <a href="https://ideasquare.io">IdeaSquare</a> | <a href="http://www.conference.ph">Circonference PH</a> | Software Engineer | Designer | Dreamer | Aspiring Entreprenuer | Love God Above All Things | Optimist | Creator of <a href="http://www.thoughtlister.com">Thought Lister</a> </p>
      <ul class="social">
        <li>
          <a title="Vyron Arediano on Twitter" href="https://twitter.com/vywonawedianow" target="_blank">
            <i class="icon-twitter"></i>
          </a>
        </li>
		<li>
          <a title="Vyron Arediano on LinkedIn" href="https://ph.linkedin.com/in/vyron-arediano-0b103953" target="_blank">
            <i class="icon-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mountains">
    <div class="range"></div>
    <div class="base"></div>
  </div>

  <footer>
    <div class="contents">
			<span>&copy; 2017
        <a href="https://www.facebook.com/xhapesolutions/" target="_blank">Xhape Solutions, Inc</a>.</span>
    </div>
  </footer>

</div>
