@charset "UTF-8";

[class*=" icon-"]:before,
[class^=icon-]:before {
  font-family: carloio;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  margin-left: .1em;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  font-size: 120%
}
.icon-github:before {
  content: '\e800'
}
.icon-dribbble:before {
  content: '\e801'
}
.icon-linkedin:before {
  content: '\e802'
}
.icon-twitter:before {
  content: '\e803'
}
* {
  margin: 0;
  padding: 0
}
body,
html {
  height: 100%;
  font-family: Lato, sans-serif;
  font-size: 16px;
  letter-spacing: .3px;
  background-color: #0e141f;
  color: #FFF;
  font-weight: 400;
  -webkit-font-smoothing: antialiased
}
#bgcanvas {
  bottom: 0
}
.wrapper {
  width: 578px;
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto
}
.wrapper .left {
  width: 134px;
  float: left
}
.wrapper .right {
  width: 421px;
  height: 100%;
  float: right
}
.wrapper .right h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  padding: 0
}
.wrapper .right p {
  margin: 5px 0 15px;
  color: rgba(255, 255, 255, .6);
  line-height: 1.5
}
.wrapper .right p a {
  text-decoration: none;
  color: #fff;
  font-weight: 500
}
.wrapper .right p a:hover {
  color: rgba(255, 255, 255, .3);
  text-decoration: underline
}
.wrapper .right ul.social {
  margin: 12px -3px;
  list-style-type: none;
  font-size: 20px
}
.wrapper .right ul.social li {
  display: inline;
  margin-right: 5px
}
.wrapper .right ul.social li a {
  text-decoration: none;
  color: rgba(255, 255, 255, .85)
}
.wrapper .right ul.social li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, .3)
}
.wrapper .avatar {
  margin: 5px 0;
  width: 134px;
  height: 134px;
  border-radius: 67px;
  border: 5px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: url(../images/profile.jpg) no-repeat;
  background-size: 102%;
  background-position: center;
  background-color: RGBA(255, 255, 255, .15)
}
footer {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  bottom: 10px;
  font-size: 11px;
  color: rgba(169, 203, 229, .2)
}
footer span {
  display: block
}
footer a {
  color: rgba(169, 203, 229, .25);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800
}
.mountains {
  position: absolute;
  bottom: 0;
  width: 100%
}
.mountains .range {
  min-height: 119px;
  background-image: url(../images/mountains.png)
}
.mountains .base {
  display: none
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .wrapper .avatar {
    background-position: center!important;
    background-size: 102% 102%!important;
    background: url(../images/profile@2x.jpg) no-repeat
  }
  .mountains .range {
    background-size: auto 119px;
    background-image: url(../images/mountains@2x.png)
  }
}
@media screen and (max-width: 640px) {
  body {
    overflow: hidden;
    background-color: #366281
  }
  #bgcanvas {
    height: 200px;
    bottom: inherit;
    width: 100%
  }
  .wrapper {
    margin: 35px auto;
    width: 80%;
    position: absolute;
    top: 0;
    z-index: 999
  }
  .wrapper .left {
    width: 100%;
    height: 167.5px
  }
  .wrapper .right {
    float: left;
    clear: both;
    width: 100%;
    text-align: center
  }
  .wrapper .right h1 {
    font-size: 50px;
    margin-bottom: 10px
  }
  .wrapper .right p {
    line-height: 1.3;
    font-size: 16px
  }
  .wrapper .right ul.social {
    font-size: 32px;
    margin: 35px -3px
  }
  .wrapper .right ul.social li a {
    color: rgba(255, 255, 255, .35)
  }
  .wrapper .right ul.social li a:hover {
    color: rgba(255, 255, 255, .8)
  }
  .wrapper .avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50px;
    background-position: center;
    background-size: cover
  }
  footer .contents {
    margin: auto;
    width: 85%;
    border-top: 1px solid rgba(169, 203, 229, .1);
    padding-top: 10px
  }
  .mountains {
    top: 135px
  }
  .mountains .range {
    height: 65px;
    top: 0
  }
  .mountains .base {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0e141f
  }
}
@media screen and (max-width: 510px) {
  .wrapper {
    width: 375px
  }
  .wrapper .right h1 {
    font-size: 40px
  }
  .wrapper .right p {
    font-size: 16px
  }
  .wrapper .right ul.social {
    font-size: 24px
  }
}
@media screen and (max-width: 360px) {
  .wrapper {
    max-width: 270px
  }
  .wrapper .right h1 {
    font-size: 36px
  }
  .wrapper .right p {
    font-size: 16px
  }
  .wrapper .right ul.social {
    font-size: 34px
  }
  footer .contents {
    font-size: 8px
  }
}